<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Goodbye</title>
  </head>
  <body>
    <% name = "Joe" %>
    <% nov = Time.new(2015, 11, 18) %>
    <h1><%= nov.strftime("The date is %A, %B %d, %Y") %></h1>
  </body>
</html>
